[Unit]
Description=thmon container service
After=network.target auditd.service

[Service]
#WorkingDirectory=/workdir
ExecStart=docker run --privileged --rm -v /var/local/thmon:/var/local/thmon --name thmon thmon /sbin/init
ExecStop=docker stop thmon
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
