[Unit]
Description=thmon beacon sending service
After=network.target auditd.service cm-read.service cm-read-gps.service

[Service]
#EnvironmentFile=/var/local/thmon/DATA/conf
WorkingDirectory=/workdir
ExecStart=/workdir/app/send_beacon_d.sh
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
