[Unit]
Description=thmon graph sending service
After=network.target auditd.service cm-read.service

[Service]
#EnvironmentFile=/var/local/thmon/DATA/conf
WorkingDirectory=/workdir
ExecStart=/workdir/app/send_graph_d.sh
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
